@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.RootView {
  @media (max-width: 768px) {
    .HeaderContainer {
      height: 68px;
      .LogoView {
        justify-content: center;
        .Logo {
          height: 36px;
          width: 36px;
        }
        .AppName {
          display: none;
        }
      }
      .DownloadView {
        display: none;
      }
    }
  }
}

.ContentBold {
  @media (max-width: 768px) {
    font-weight: 600;
    color: #000;
  }
}

.spanUsing {
  line-height: 36px;
  font-size: 18px;
  font-weight: 400;
  .ContentUsingBold {
    font-size: 18px;
    font-weight: 600;
  }
}

.txtTermHeader {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  padding-bottom: 20px;
  padding-top: 40px;
  @media (max-width: 768px) {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    padding-bottom: 10px;
    padding-top: 20px;
  }
}

.txtTermContent {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  @media (max-width: 768px) {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}
